[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Mirror repos from other servers using the Git protocol
[access "refs/*"]
	owner = group GerritForge-pull-replication
	label-Code-Review = -2..+2 group GerritForge-pull-replication
	label-Verified = -1..+1 group GerritForge-pull-replication
	rebase = group GerritForge-pull-replication
	submit = group GerritForge-pull-replication
	removeReviewer = group GerritForge-pull-replication
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)
